/* mate-sc-regular - latin */
@font-face {
	font-family: 'Mate SC';
	font-style: normal;
	font-weight: 400;
	src: local(''), url('./assets/fonts//matemate-sc-v19-latin-regular.woff2') format('woff2'),
		url('./assets/fonts//matemate-sc-v19-latin-regular.woff') format('woff');
}

/* montserrat-300 - latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 300;
	src: local(''), url('./assets/fonts/montserrat/montserrat-v23-latin-300.woff2') format('woff2'),
		url('./assets/fonts/montserrat/montserrat-v23-latin-300.woff') format('woff');
}
/* montserrat-regular - latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		url('./assets/fonts/montserrat/montserrat-v23-latin-regular.woff2') format('woff2'),
		url('./assets/fonts/montserrat/montserrat-v23-latin-regular.woff') format('woff');
}
/* montserrat-600 - latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	src: local(''), url('./assets/fonts/montserrat/montserrat-v23-latin-600.woff2') format('woff2'),
		url('./assets/fonts/montserrat/montserrat-v23-latin-600.woff') format('woff');
}

:root {
	--primary-color: #8f8ad1;
	--secondary-color: #eaf1ef;
	--highlight: #6d6193;

	--title-fnt: 'Mate SC', serif;
	--body-fnt: 'Monteserrat', sans-serif;

	--border-radius: 7px 7px 7px 7px;
	--box-shadow: 6px 6px 18px 0px #0000004c;
}
